{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
    صفحه سرچ
{% endblock %}

{% block content %}
    <div class="main-container container pt-40" id="main-container">

        <!-- Content -->
        <div class="row">

            <!-- Posts -->
            <div class="col-lg-8 blog__content mb-72">
                <h1 class="page-title">نتایج جستجو برای: تکنولوژی</h1>
                {% if blogs %}
                	{% for blog in blogs %}
                    <article class="entry card post-list">
                        <div class="entry__img-holder post-list__img-holder card__img-holder"
                             style="background-image: url({{ blog.cover_image.url }})">
                            <a href="{% url 'main:blog_detail' blog.id %}" class="thumb-url"></a>
                            <img src="{{ blog.cover_image.url }}" alt="{{ blog.cover_alt }}" class="entry__img d-none">
                            <a href="{% url 'main:category' blog.category.id %}"
                               class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue">
                                {{ blog.category }}
                            </a>
                        </div>

                        <div class="entry__body post-list__body card__body">
                            <div class="entry__header">
                                <h2 class="entry__title">
                                    <a href="{% url 'main:blog_detail' blog.id %}">{{ blog.title }}</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a>{{ blog.author }}</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        {{ blog.published_date }}
                                    </li>
                                </ul>
                            </div>
                            <div class="entry__excerpt">
                                <p>{{ blog.text | safe |linebreaksbr|truncatewords_html:30 }}</p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                {% else %}
                    <h3 class="text-center">نتیجه ای برای جستجو شما یافت نشد</h3>
                {% endif %} 
                
            </div>

            <aside class="col-lg-4 sidebar sidebar--right">

                <!-- Widget Popular Posts -->
                <aside class="widget widget-popular-posts">
                    <h4 class="widget-title">محبوب ترین مقالات</h4>
                    <ul class="post-list-small">
                        {% for blog in blog_view %}
                            <li class="post-list-small__item">
                                <article class="post-list-small__entry clearfix">
                                    <div class="post-list-small__img-holder">
                                        <div class="thumb-container thumb-100">
                                            <a href="{% url 'main:blog_detail' blog.id %}">
                                                <img data-src="{{ blog.cover_image.url }}"
                                                     src="{{ blog.cover_image.url }}" alt="cover_alt"
                                                     class="post-list-small__img--rounded lazyload">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-list-small__body">
                                        <h3 class="post-list-small__entry-title">
                                            <a href="{% url 'main:blog_detail' blog.id %}">{{ blog.title }}</a>
                                        </h3>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>نویسنده:</span>
                                                <a>{{ blog.author }}</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                {{ blog.published_date }}
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>

                <aside class="widget widget_media_image">
                    <a>
                        <img src="{{ media_url }}img/content/mag-1.jpg" alt="">
                    </a>
                </aside> <!-- end widget ad 300 -->

            </aside> <!-- end sidebar -->

        </div> <!-- end content -->
    </div>
{% endblock %}

